
<div class="jumbotron">
  <span class="welcome-note">Welcome to Checklist<sup><i class="fa fa-plus"></i></sup></span>
  <h3><i class="fa fa-check" aria-hidden="true"></i> Be Super Productive! </h3>
  <h3><i class="fa fa-check" aria-hidden="true"></i> A simple way to make free checklists. </h3>
  <h3><i class="fa fa-check" aria-hidden="true"></i> Make unlimited private checklists that only you can see.</h3>
  <%= link_to "Get Started", new_user_registration_path, class: "btn btn-success" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>