<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>About</h1>
          <hr class="small">
          <span class="subheading">Keep your task in sync.</span>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>CHECKLIST is My Second Rails Application developed on 2017.</p>
      <p>CHECKLIST is the Productivity application that keeps track of all your tasks, projects, and goals in one
        beautifully simple place.</p>
      <p>CHECKLIST is a Simple rails application with Clean and Simple User Interface. It is not much Complicated than
        Other Todo List. Our Mission is to make people to understand easily and make it simple to use.</p>
      <hr class="section-heading-spacer">
      <div class="social-links">
        <p>Contact us: <u><a href="mailto:contactus.checklist@gmail.com">contactus.checklist@gmail.com</a></u></p>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Our Social Sites</h3>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/iam_rafiq" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter">
            <span class="network-name">Twitter</span></i></a></li>
        <li>
          <a href="https://github.com/rafiqdeen" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github">
            <span class="network-name">Github</span></i></a></li>
      </ul>
    </div>
  </div>
</div>
</html>