<form class="form-horizontal">
  <fieldset>
    <legend>New Checklist Item</legend>
    <div class="form-group">
      <label for="textarea" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="title" placeholder="Enter your title">
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-5">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-5 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
