/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Mixins, variables, etc... */

@mixin nav_link_hover {
  transition: 0.4s;
  color: lighten(#222, 30%);
  text-decoration: none;
}

/* Universal styles */

#notice_wrapper {
  opacity: 0.9;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  background: #089465;
  .alert, .notice {
    padding: 1.95rem;
    text-align: center;
    margin: 0;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
  }
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background: #F5F5F5;
  .btn {
    font-size: 20px;
  }
  .main {
    margin-left: 22%;
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFF;
    box-shadow: 5px 5px 5px #888888;
  }
  .group_by {
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
  }
  .container {
    width: 90%;
  }
  .container.project {
    margin-bottom: 6%;
  }
  .jumbotron, .col-md-6.col-md-offset-3 {
    margin-top: 3%;
  }

}

.form-control {
  font-size: 15px;
}

.form-horizontal {
  margin-top: 5%;
  margin-left: 13%;
}

.welcome-note {
  padding-top: 5%;
  font-size: 40px;
}

a {
  color: darken(#e7e7e7, 70%);
}

/* Navbar and navigation styles */

.navbar {
  text-transform: uppercase;
}

.nav.navbar-nav {
  float: right;
}

.navbar-default {

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3682c3;

  .navbar-nav > li > a {
    color: white;
    font-size: 15px;
  }

  .navbar-link {
    color: white;
    font-size: 15px;
  }

  .navbar-brand {
    color: white;
    letter-spacing: 1.25px;
    font-size: 20px;
  }
  .fa-lg {
    vertical-align: 0%;
  }
  .navbar-brand:hover {
    color: white;
  }
  .navbar-nav > li > a:hover {
    background-color: white;
    color: #3682c3;
  }
  .navbar-link:hover {
    color: white;
  }
}

/* Item styles */

.item {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 1.5em;
  p {
    margin: 0px 0 6px;
  }
  .item-title {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
  }
  .item-desc {
    font-size: 1em;
  }
  .time-ago {
    color: darken(#e7e7e7, 50%);
    font-size: 0.85em;
    letter-spacing: 1.25;
  }
  .item-sub-title {
    margin-bottom: 0;
  }
  .fa-check-square-o, .fa-square-o {
    color: #0F7E22;
  }
  .fa-times {
    color: #800000;
  }
}

.item:nth-child(n+1) {
  padding-top: 1.5em;
}

/* Footer */

footer {
  clear: both;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #dddddd;
}

.copyright {
  min-height: 40px;
  background-color: white;
  .fa-copyright {
    vertical-align: 1px;
  }
}

.copyright p {
  text-align: left;
  color: black;
  padding: 10px 0;
  margin-bottom: 0px;
}

.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

.bottom_ul li {
  float: left;
  line-height: 40px;
}

.bottom_ul li:after {
  content: "/";
  color: black;
  margin-right: 8px;
  margin-left: 8px;
}

.bottom_ul li a {
  color: black;
  font-size: 14px;
}

.img-responsive {
  height: 280px;
  padding-top: 25px;
  padding-left: 35%;
}

.about-page{
  font-size: 20px;
}